{% extends "_layout.html" %}
{% block main %}
<form method="POST" id="form01"></form>

<section class="blog">
    <div class="date_div">
        {{ date }}<br>
        by {{ username }}
    </div>
    <div class="blog_sub">
        {% include post_html %}

    </div>

    {% for comment in comments %}
    <div class="comments_section ">
        

        {{ comment.comment }}

        <div class="comment_name_date">
            {{ comment.date_published}}
        </div>

    </div>
    {% endfor %}

    <div class="form-group add_comment_section">
        <label for="comment_section_id" class="form-label mt-4">Comments</label>
        <textarea class="form-control" id="comment_section_id" rows="3" name="comment" form="form01"></textarea>

        <div class="submit_element_right">
            <button type="submit" name="submit_comment" value="true" class="btn_custom01 btn_account" form="form01">Submit Comment</button>
        </div>

        
    </div>



</section>
{% endblock %}