*.log
*/__pycache__/*
__pycache__/
~$*
**.DS_Store
buttons_dict.json
config_dict.json
/app_package/static/images/communityposts/
/app_package/static/images/newsposts/
/app_package/static/node_modules/
/app_package/static/dash_btns/
/logs/
app_package/templates/blog/posts/
app_package/templates/news/posts/
