~$*
**.DS_Store
*/__pycache__/*
__pycache__/
*.log
/logs/
buttons_dict.json
config_dict.json
/app_package/static/images/communityposts/
/app_package/static/images/newsposts/
/app_package/static/node_modules/
/app_package/static/dash_btns/
app_package/templates/blog/posts/
app_package/templates/news/posts/
