{% extends "_layout.html" %}
{% block title %} WSH YouTube Request {% endblock %}
{% block main %}
<section class="youtube">


    <h1>YouTube Request for OAuth2.0 Credentials</h1>

    <div class="div_writing">
        To Whom it May Concernt At YouTube,
            <div class="indent">
    
                Hi I am Nick.<br>
    
                I am applying to get OAuth 2.0 credentials for Youtube API V3.<br>
                
                Specifically I am looking to get my YouTube videos watch time and my watch video history list from the YouTube api.<br?>
                
                I am the creator of what sticks. A website aimed at analyzing personal data to help determine what impacts sleep.<br>
                
                Here is a view of my user dashboard. It has my sleep data which I’ve collect from the Oura Ring API and weather data from another API. I would like to add the YouTube data I just mentioned.
                <br>
                
                And I would like to allow users, who would like to join, to add their YouTube data as well.<br>
                
        
            </div>
       </div>
<div class="video_div">
    <div class="videoWrapper">

    
        <iframe width="560px" height="315px"  src="https://www.youtube.com/embed/QWumZqL1XsI" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
        ></iframe>
    </div>
</div>




</section>

{% endblock %}